@{
    ViewBag.Title = "Sign up";
    Layout = "~/Views/Shared/_BoxLayout.cshtml";
}

<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Sign up</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { role = "form" }))
        {
            <fieldset>
                <div class="form-group">
                    <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="terms" type="checkbox" value="Accept terms of service">Accept terms of service
                    </label>
                </div>
                <!-- Change this to a button or input when using this as a form -->
                <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign up">
            </fieldset>
            @Html.ValidationSummary()
            <p></p>
            <p>@Html.ActionLink("Already have an account? Click here", "Authenticate", "Account")</p>
        }
    </div>
</div>
