@{
    Layout = "~/Views/Shared/_BoxLayout.cshtml";
    ViewBag.Title = "Signing out";
}

<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Signing out</h3>
    </div>
    <div class="panel-body">
        Signing out. Please wait...
    </div>
</div>


@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function redirect() {
            location.href = '@Url.Action("Index", "Home")';
        }, 1000);
    });
</script>
}