@{
    Layout = "~/Views/Shared/_BoxLayout.cshtml";
    ViewBag.Title = "Signing up";
}

<div class="login-panel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Signing up</h3>
    </div>
    <div class="panel-body">
        Your account has now been created. Please check your email and follow the activation process.
    </div>
</div>